@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom base styles with dark mode by default */
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212;
  color: #E1E1E1;
  transition: colors 200ms;
}
